{% extends 'layout.html' %}

{% block content %}
    <div class="content-section">
        <h3>login Now</h3>
        <form action="" method="POST">
            <div class="form-group">
                {{ form.email.label(class_="form-control-label") }}
                {{ form.email(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class_="form-control-label") }}
                {{ form.password(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-outline-primary btn-block") }}
        </form>
    </div>
{% endblock %}